voice_data
model.py
.gitignore
__pycache__
data/full_data.csv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

